* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  background-color: #130f1e;
  display: grid;
  place-content: center;
  height: 100vh;
  gap: 16px
  ;
}

.primary{
  --bg-default: #8257E5;
  --bg-hover: #9674e5;
}
.secondary{
  --bg-default: #3c3748;
  --bg-hover: #6a617f;
}
.tertiary{
  --bg-default:transparent;
  --bg-hover:transparent;
}
button{
  display: flex;
  background-color: var(--bg-default);
  font-family: 'Inter';
  border: 0;
  color: white;
  border-radius: 24px;
  padding: 12px 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
button:hover{
background-color: var(--bg-hover);
}
button:focus{
  outline: 2px solid #d9C7F7;
}
button:disabled{
  opacity: .56;
  cursor: not-allowed;
  background-color: var(--bg-default);
}
.loading {
  cursor: progress;
}
.loading i{
  font-size: 16px;
  animation: spin 300ms infinite linear;
}
.movable{
  cursor: move;
}
.movable i{
  font-size: 18px; 
}
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}