* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  font-size: 62.5%;
  font-family: 'Roboto';
}

body {
  font-size: 1.6rem;
}

input,
select,
button {
  font-family: 'Roboto';
  all: unset;
}

header {
  min-height: 53.2rem;
  background-color: #f8f8ff;

  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;

}

header .content.top {
  text-align: center;
}

header::before {
  content: "";

  background-image: url(./assets/bg-headertop.svg);
  width: 40.7rem;
  height: 34.5rem;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

header::after {
  content: "";
  background-image: url(./assets/bg-header-bottom.svg);
  width: 41.4rem;
  height: 33rem;
  position: absolute;
  right: 0;
  bottom: -1.2rem;

}

header .content {
  width: fit-content;

  position: relative;
  z-index: 1;
}

header p {
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #e45858;
  text-align: center;
}

header h1 {
  font-size: 4.8rem;
  line-height: 125%;
  color: #121214;
  max-width: 64.7rem;
  margin: 1.8rem auto;
}

header h1 span {
  color: #6246ea;
}

div.content h1 {
  padding: 2rem;
  text-align: center;
}

form {
  margin-top: 4rem;
  display: flex;
  padding: 4rem;
  gap: 2.4rem;
  background: white;
  border-radius: 10px;
  border: 0.1rem solid #eaeaea;
}

form button {
  padding: 1.2rem 3.2rem;

}

.primary:hover {
  background: #472ec3;
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}



.search-field {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background: #f4f4ff;
  border-radius: .5rem;
  padding: 1.2rem 8rem 1.2rem 1.4rem;
}

input,
select {
  color: #7c7c8a;

  min-width: 29rem;
}

.search-field i {
  font-size: 2.4rem;
  color: #e45858;
}

select,
.select {
  position: relative;

}

select {
  z-index: 1;
}

.select i.ph-caret-down {
  position: absolute;
  right: 8rem;
  z-index: 0;

}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }
}

@media (max-width: 500px) {
  section.cards {
    grid-template-columns: 1fr;
  }

  .card img {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }

}