* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'rubik', sans-serif;
  letter-spacing: -0.02rem;
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat fixed;

  height: 100vh;

  display: grid;
  place-content: center;
}

.grid {
  display: grid;

}

.column {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

.top {
  border-radius: 2.4rem 2.4rem 0 0;
  gap: 2.4rem;
  --mask: radial-gradient(1.5rem at 1.5rem bottom, transparent 95%, black) -1.5rem;
  -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.departure .arrival {
  width: 2.5rem;
}

.departure strong,
.arrival strong {
  font-size: 4rem;
  line-height: 4.7rem;
}

.airplane {
  align-self: center;
}

.top time {
  color: rgba(0, 0, 0, 0.8);
}

.top time sup {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
   
}
.middle{ 
border: 1px dashed rgba(0, 0, 0, 0.32);
border-left: 0;
border-right: 0;
--mask: radial-gradient(1.5rem at 1.5rem 1.5rem, transparent 95%, black) -1.5rem -1.5rem;

}
.bottom {
  border-radius: 0 0 2.4rem 2.4rem;
--mask: radial-gradient(1.5rem at 1.5rem top, #0000 93%, black) -1.5rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}

.bottom .container {
  align-items: center;
  gap: .8rem;
}
dt time {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background: #633BBC;
  border-radius: .8rem;
  padding: .4rem .8rem;
  display: inline-block;
  margin-top: .2rem;
}

.bottom>p {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.0rem;
  color: rgba(0, 0, 0, 0.8);
  ;
}


dl.grid {
  gap: 1.6rem;
  min-width: 9.5rem;
}

h1,
strong {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.64);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

section {
  background-color: white;
  padding: 2.4rem 3.2rem;
 
-webkit-mask:var(--mask);
mask:var(--mask);

}

footer {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: white;
  opacity: .64;
  width: 27rem;
  text-align: center;
  margin: 2.0rem auto;
}

strong {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.88);
  ;
}

#boarding-pass {

  margin: auto;
}

#ticket {
  margin-top: 2rem;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}